<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        <form method="post" action="{% url 'search' %}" class="search">
            {% csrf_token %}
            <input id="search" type="text" name="search"  placeholder="Search...">
            <button type="submit"><i class="fa fa-fw fa-search"></i></button>
        </form>
        <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        </div>
    </div>
    <div id="myDropdown" class="dropdown-content">
            {% for cat in cats %}
                <a href="{% url 'cats' cat.id %}">{{ cat.name }}</a>
            {% endfor %}
              </div>

    <button style="margin-top: 15px"><a href="{% url 'forms' %}" class="">Add new post</a></button>

    <script>
    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>
</body>
</html>